.dictionary-container{
    display: flex;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    // flex-direction: column;
}

.search-field{
    padding: 15px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 50px;
    width: 400px;
    border-radius: 20px;
    border-color: transparent;
    font-size: 15px;
}

.result {
    margin-top: 15px;
    width: 100%;
    height: 280px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: none;
}

.result h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    display: inline;
}

.phonetics{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    margin-left: 8px;
}

.word-definition{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 5px;
    max-width: 600px
}

.synonymtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    // display: inline;
}

.synonyms{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.synbox{
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px 20px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

// .result p{
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 18px;
//     display: inline-block;
//     padding: 10px;
// }


@media screen and (max-width: 1000px) {
    .dictionary-container {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .search-field{
        padding: 15px;
        width: 300px;
        border-radius: 20px;
        border-color: transparent;
        margin: 0;
    }

    .result {
        margin-left: 30px;
    }
    .word-definition{
        max-width: 400px
    }
  }

  @media screen and (max-width: 768px) {
    .dictionary-container {
        flex-direction: column;
        align-items: center;
        justify-content:start;
    }

    .search-field{
        padding: 15px;
        width: 300px;
        border-radius: 20px;
        border-color: transparent;
        margin-left: 0;
    }

    .result {
        margin-left: 30px;
    }
    .word-definition{
        max-width: 300px
    }
  }

