.grid {
    display: grid;
    grid-column-gap: 70px;
    grid-row-gap: 35px;
    padding: 16px;

    //change to one column for tablet/mobile devices
    @media (min-width: 500px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 25px;
        margin-right: 25px;
    }

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
        margin-right: 100px;
    }

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10%;
        margin-right: 10%;

        .col3 {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .col4 {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    
    .col {
        background-color: #887E98;
        border-radius: 10px;
        margin-bottom: 16px;
        padding: 16px;
    }

    //Span across grid
    // .col3 {
    //     grid-column-start: 1;
    //     grid-column-end: 3;
    // }

    // .col4 {
    //     grid-column-start: 1;
    //     grid-column-end: 3;
    // }
}