.kanban-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.section{
    background-color: #4D336C;
    width: 100%;
    text-align: center;
    max-height: 800px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}

.button1{
    background-color: #4D336C;
    border-style: none;
}

.newtasksection{
    background-color: white;
    color: black;
    width: 300px;
    max-height: 800px;
    text-align: center;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: inline;
    color: white;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline;
    color: black;
}

label{
font-size: 13px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
display: inline;
}

input{
    margin-top: 5px;
    width: 90%;
    padding: 10px;
}

ul{
    list-style: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 3px;
}

li{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
}

form{
    text-align: left;
}

.placeholder{
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .kanban-container{
        flex-direction: column;
        align-items: center;
    }
    .section{
        justify-content: flex-end;
        max-width: 400px;
        margin-bottom: 15px;
    }

    .newtasksection{
        justify-content: flex-end;
        max-width: 400px;
        margin-bottom: 15px;
        padding: 15px;
    }

}